// COLORS
//$color-primary: #aba364;
$color-primary: #0DBB68;
$color-primary-60: rgba(#0DBB68, 0.6);
$color-primary-80: rgba(#0DBB68, 0.8);


$color-white: #fff;
$color-grey-light-bg: #f3f8f2;

$color-grey-light: #eee;
$color-grey-medium: #ababab;
$color-grey-dark: #868686;
$color-black: #000;

$color-text-default: $color-grey-dark;


//FIXED HEIGHTS

$header-height: 6rem;

// MARGINS
$content-margin-top: 10rem;


// FONT SIZE
$font-size-lg: 1.7rem; // 17px
$font-size-sm: 1.2rem; // 12px


//TRANSITION TIME
$transition-main: .5s;
$transition-fast: .2s;

// BORDER_RADIUS
$hasRoundCorners: true;
$border-radius-tiny: .3rem;
$border-radius-small: .7rem;
$border-radius-big: 1rem;

// SHADOWS
$box-shadow: 0.1rem 0.1rem 0.35rem rgba($color-black, .15);