/*
0px - 700px:      Phone
700px - 900px:    Tablet portrait
900px - 1200px:   Tablet landscape
[1200px - 1800px] is where our normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Ubuntu:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@1;200;300;400;500;600;700;800;900&display=swap");
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
@keyframes scaleUpDown {
  0% {
    transform: translateY(0.35rem) scale(1); }
  50% {
    transform: translateY(0.35rem) scale(1.2); }
  100% {
    transform: translateY(0.35rem) scale(1); } }
@keyframes draw {
  0% {
    width: 0; } }
@keyframes shrink {
  100% {
    width: 0; } }
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  --animate-duration: 2s; }

html {
  /* This defines 1rem
    -- Default browser value is 16px
    -- 62,5% of 16px = 10px
  */
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

button {
  background: none;
  border: none; }

a {
  color: #313131; }
  a, a:link, a:visited {
    text-decoration: none; }

::selection {
  background-color: #eee; }

img {
  width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

@font-face {
  font-family: "Noah";
  src: url("fonts/Fontfabric - Noah Regular.otf"); }
body {
  font-family: 'Noah', sans-serif;
  font-weight: 400;
  color: #313131;
  font-size: 1.7rem;
  line-height: 1.7; }
  @media only screen and (max-width: 43.75em) {
    body {
      line-height: 1.4; } }

.heading-secondary {
  text-transform: lowercase;
  font-size: 5rem;
  margin-bottom: 3rem;
  transition: all .2s;
  font-weight: 800; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 4rem; } }
  @media only screen and (max-width: 43.75em) {
    .heading-secondary {
      font-size: 3rem;
      margin-bottom: 1rem; } }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: .5rem; }
  @media only screen and (max-width: 43.75em) {
    .heading-tertiary {
      font-size: 1.7rem; } }

.text-bold {
  font-weight: 500; }

.text-accent-bold {
  font-weight: 500;
  color: #95cdb3; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-small {
      margin-bottom: 1rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 2.5rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 3.5rem !important; } }

.u-margin-top-medium {
  margin-top: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-medium {
      margin-top: 2.5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 3.5rem !important; } }

.u-margin-top-huge {
  margin-top: 10rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-huge {
      margin-top: 6.5rem !important; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 0.3rem;
  transition: all .2s;
  position: relative;
  font-size: 1.5rem;
  cursor: pointer; }
.btn:hover {
  background-color: #84c5a7; }
.btn:active, .btn:focus {
  outline: none; }
.btn--primary {
  color: #fff;
  background-color: #51ab81; }
.btn.xs {
  padding: .5rem .8rem;
  font-size: 1rem;
  border-radius: 0.3rem; }
.btn.sm {
  padding: .8rem 1.2rem;
  font-size: 1.3rem; }
.btn.lg {
  padding: 2.5rem 5rem; }

.card {
  padding: 2rem 0;
  border-bottom: 1px solid #eee; }
  .card__title {
    color: #51ab81; }
  .card__info {
    margin-top: 1rem; }
  .card__date {
    font-size: 1.5rem;
    color: #ababab; }
    .card__date:after {
      content: '/';
      padding: 0 10px;
      color: #95cdb3; }
    @media only screen and (max-width: 43.75em) {
      .card__date {
        display: block; } }
  .card__company {
    font-weight: 500; }

.skill {
  display: grid;
  grid-template-columns: minmax(max-content, 30%) 1fr;
  align-items: center;
  grid-gap: 1rem; }
  @media only screen and (max-width: 34.375em) {
    .skill {
      grid-template-columns: minmax(max-content, 40%) 1fr;
      grid-gap: .5rem; } }
  @media only screen and (max-width: 28.75em) {
    .skill {
      grid-template-columns: 1fr 1fr; } }
  .skill__name {
    line-height: 1.3; }

.progress-bar {
  position: relative; }
  .progress-bar__container {
    display: grid;
    align-content: center;
    width: 100%;
    height: .5rem;
    background-color: rgba(238, 238, 238, 0.5);
    border: 1px solid #eeeeee;
    border-radius: 1rem; }
  .progress-bar__filler {
    align-self: stretch;
    width: 0;
    height: inherit;
    background-color: #95cdb3;
    border-radius: 1rem;
    letter-spacing: .05rem;
    font-size: 0;
    opacity: .8;
    text-align: right;
    padding-right: 1rem; }

.project-card {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-gap: 1rem;
  overflow-wrap: break-word;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 1.5rem 0; }
  .project-card__cta {
    display: grid !important;
    max-width: 3rem; }
  .project-card__name {
    display: inline-block;
    transition: color ease-in-out .3s;
    transition-delay: 100ms;
    overflow-wrap: break-word; }
  .project-card__text-divider {
    margin: 0 1rem;
    color: #95cdb3; }
  .project-card__description {
    display: inline-block;
    margin-right: 3rem;
    font-weight: 400;
    opacity: .65;
    transition: opacity ease-in-out .2s;
    transition-delay: 50ms;
    overflow-wrap: break-word;
    line-height: 1.3; }
  .project-card:hover {
    cursor: default; }
  .project-card:hover .project-card__description {
    opacity: 1;
    color: #51ab81; }

.section {
  margin-bottom: 11rem; }
  @media only screen and (max-width: 43.75em) {
    .section {
      margin-bottom: 7rem; } }
  .section:last-child {
    height: calc(100vh - 10rem);
    margin-bottom: 0; }
  .section__subsection {
    display: grid;
    grid-gap: 1.7rem;
    border-radius: 0.7rem;
    margin-bottom: 3.5rem; }
    @media only screen and (max-width: 43.75em) {
      .section__subsection {
        grid-gap: 1.2rem; } }
    @media only screen and (max-width: 34.375em) {
      .section__subsection {
        grid-gap: .7rem; } }

.certificate {
  position: relative;
  display: grid;
  grid-gap: 2rem;
  align-items: stretch;
  padding: 1.3rem 2rem 1.8rem 2rem;
  transition: all 0.2s;
  border-left: 1px solid rgba(149, 205, 179, 0.6); }
  @media only screen and (max-width: 43.75em) {
    .certificate {
      background-color: #f3f8f2;
      border: none;
      border-radius: 0.3rem; } }
  .certificate:hover .certificate__cta {
    visibility: visible;
    opacity: 1;
    bottom: 1.3rem; }
  .certificate__school {
    color: #51ab81;
    transition: all 0.2s;
    margin-bottom: .8rem;
    font-weight: 500; }
  .certificate__name {
    font-weight: 400;
    transition: all 0.2s;
    line-height: 1.3; }
    .certificate__name--additional-info {
      font-size: 1.5rem;
      color: #ababab;
      margin-top: .5rem;
      display: block; }
  .certificate__result {
    letter-spacing: .05rem;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: end;
    line-height: 1.5rem; }
  .certificate__cta {
    position: absolute;
    bottom: 0;
    right: 1.3rem;
    visibility: hidden;
    opacity: 0;
    display: grid;
    max-width: 3rem;
    justify-self: end;
    text-align: center;
    border-radius: 0.3rem;
    transition: all 0.2s;
    padding: .5rem 1rem; }
    @media only screen and (max-width: 43.75em) {
      .certificate__cta {
        visibility: visible;
        opacity: 1;
        justify-self: end;
        bottom: 1.3rem; } }

.navigation {
  grid-column: 2 / 3;
  padding-right: 1rem;
  display: grid;
  justify-content: end;
  align-self: end; }
  @media only screen and (max-width: 43.75em) {
    .navigation {
      align-self: center; } }
  .navigation__button {
    display: none;
    background-color: #95cdb3; }
    @media only screen and (max-width: 43.75em) {
      .navigation__button {
        display: block; } }
    .navigation__button:hover .toggle {
      background-color: rgba(255, 255, 255, 0.85); }
    .navigation__button.clicked .toggle:first-of-type {
      transform: rotate(45deg);
      position: relative;
      top: 5px; }
    .navigation__button.clicked .toggle:nth-of-type(2) {
      opacity: 0; }
    .navigation__button.clicked .toggle:last-of-type {
      transform: rotate(-45deg);
      position: relative;
      top: -5px; }
    .navigation__button .toggle {
      display: block;
      height: 2px;
      width: 15px;
      background-color: #fff;
      margin: 3px auto;
      transition: all 0.35s; }
  .navigation__list {
    display: grid;
    grid-template-columns: repeat(6, min-content);
    text-decoration: none;
    grid-gap: .2rem;
    transition: all 0.35s; }
    @media only screen and (max-width: 43.75em) {
      .navigation__list {
        position: absolute;
        top: 6rem;
        right: 0;
        transform: translateX(100%);
        grid-template-columns: none;
        grid-gap: 0;
        width: 65vw;
        background-color: #fbfbfb;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); } }
    .navigation__list.open {
      transform: translateX(0); }
  .navigation__item {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    list-style: none;
    transition: 0.35s; }
    @media only screen and (max-width: 43.75em) {
      .navigation__item {
        border-bottom: 1px solid #eee; } }
  .navigation__link {
    display: inline-block;
    padding: .5rem 2rem;
    width: 100%;
    height: 100%;
    transition: all 0.35s;
    text-transform: lowercase;
    border-radius: 0.3rem 0.3rem 0 0;
    line-height: 2; }
    .navigation__link:hover, .navigation__link:focus {
      background-color: rgba(149, 205, 179, 0.8);
      color: #fff; }
    .navigation__link.active {
      background-color: #95cdb3;
      color: #fff; }
    @media only screen and (max-width: 43.75em) {
      .navigation__link {
        font-size: inherit;
        padding: 1.5rem 0;
        border-radius: 0.3rem; } }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  z-index: 1000;
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-content: end;
  align-items: center;
  background-color: #fbfbfb;
  border-bottom: 1px solid #eee; }
  .header .person {
    display: none;
    padding-left: 1rem; }
    .header .person__picture {
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
      overflow: hidden;
      margin-right: 2rem; }
    .header .person__name {
      display: inline-block; }
    .header .person.visible {
      transform: translateY(0); }
    @media only screen and (max-width: 43.75em) {
      .header .person {
        display: grid;
        grid-template-columns: min-content max-content;
        align-items: center;
        transition: all 0.35s;
        transform: translateY(-200%); } }

.personal-info {
  position: fixed;
  text-align: center;
  --animate-duration: 2s; }
  .personal-info__image-container {
    width: 19rem;
    height: 19rem;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    --animate-duration: 2s; }
  .personal-info__contacts {
    margin-bottom: 2rem;
    font-size: 1.5rem; }
    .personal-info__contacts--name {
      font-size: 1.8rem;
      margin: 2rem 0 1rem 0;
      color: #51ab81; }
  @media only screen and (max-width: 43.75em) {
    .personal-info {
      position: relative;
      margin-bottom: 6rem; } }

.content {
  width: 70%;
  display: grid;
  grid-template-columns: [sidebar-start] minmax(20rem, 25vw) [sidebar-end full-start] 1fr [full-end];
  grid-gap: 7rem;
  margin: auto;
    margin-top: 10rem; }
  @media only screen and (max-width: 75em) {
    .content {
      width: 80%;
      grid-gap: 9rem; } }
  @media only screen and (max-width: 56.25em) {
    .content {
      width: 88%; } }
  @media only screen and (max-width: 43.75em) {
    .content {
      grid-template-columns: auto;
      grid-gap: 0; } }

.info {
  grid-column: 2/3; }
  @media only screen and (max-width: 43.75em) {
    .info {
      grid-column: auto; } }

.certificates {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem 1rem; }
  @media only screen and (max-width: 43.75em) {
    .certificates {
      grid-gap: .8rem; } }
  @media only screen and (max-width: 34.375em) {
    .certificates {
      grid-template-columns: none; } }

.projects {
  display: grid; }

/*# sourceMappingURL=main.css.map */
