.content {
	width: 70%;
	display: grid;
	grid-template-columns: [sidebar-start] minmax(20rem, 25vw) [sidebar-end full-start] 1fr [full-end];
	grid-gap: 7rem;
	margin: auto {
		top: $content-margin-top;
	};

	@include respond('tab-land'){
		width: 80%;
		grid-gap: 9rem;
	}

	@include respond('tab-port'){
		//width: 90%;
	}

	@include respond('phone'){
		grid-template-columns: auto;
		grid-gap: 0;
	}

}