.navigation {
	grid-column: 2 / 3;
	padding-right: 1rem;
	display: grid;
	justify-content: end;
	align-self: end;

	@include respond ('phone') {
		align-self: center;
	}


	// Toggle Button
	&__button {
		display: none;
		//border: 1px solid $color-grey-light;
		background-color: $color-primary;

		@include respond ('phone') {
			display: block;
		}

		&:hover .toggle {
			background-color: rgba($color-white, .85);
		}

		&.clicked {

			.toggle:first-of-type {
				transform: rotate(45deg);
				position: relative;
				top: 5px;
			}

			.toggle:nth-of-type(2) {
				opacity: 0;
			}

			.toggle:last-of-type {
				transform: rotate(-45deg);
				position: relative;
				top: -5px;
			}
		}

		.toggle {
			display: block;
			height: 2px;
			width: 15px;
			background-color: $color-white;
			margin: 3px auto;

			transition: all $transition-main;
		}
	}


	// NAVIGATION LIST
	&__list {
		display: grid;
		grid-template-columns: repeat(6, min-content);
		text-decoration: none;
		grid-gap: .2rem;
		transition: all $transition-main;

		@include respond('phone') {
			position: absolute;
			top: 6rem; //header height
			right: 0;
			transform: translateX(100%);

			grid-template-columns: none;
			grid-gap: 0;

			width: 65vw;
			background-color: $color-white;
			box-shadow: $box-shadow;
		}

		&.open {
			transform: translateX(0);
		}
	}

	&__item {
		display: inline-block;
		width: 100%;
		height: 100%;
		text-align: center;
		list-style: none;
		transition: $transition-main;

		@include respond('phone') {
			border-bottom: 1px solid $color-grey-light;
		}
	}

	&__link {
		display: inline-block;
		padding: .5rem 2rem;
		width: 100%;
		height: 100%;
		transition: all $transition-main;
		text-transform: uppercase;
		font-size: $font-size-sm;
		border-radius: $border-radius-tiny $border-radius-tiny 0 0;
		line-height: 2;

		&:hover,
		&:focus {
			background-color: $color-primary-80;
			color: $color-white;
		}

		&.active {
			background-color: $color-primary;
			color: $color-white;
		}

		@include respond('phone') {
			font-size: inherit;
			padding: 1.5rem 0;
			border-radius: $border-radius-tiny;
		}
	}
}
