.card {
	padding: 2rem 0;
	border-bottom: 1px solid $color-grey-light;

	&__title {
		color: $color-primary;
	}

	&__info {
		font-size: $font-size-sm;
	}

	&__date {
		font-size: $font-size-sm;
	}


}