.card {
	padding: 2rem 0;
	border-bottom: 1px solid $color-grey-light;

	&__title {
		color: $color-primary-dark;
	}

	&__info {
		margin-top: 1rem;
	}

	&__date {
		font-size: $font-size-sm;
		color: $color-grey-medium;

		&:after {
			content: '/';
			padding: 0 10px;
			color: $color-primary;
		}

		@include respond(phone) {
			display: block;
		}
	}

	&__company {
		font-weight: 500;
	}
}