.progress-bar {
	position: relative;

	&__container {
		display: grid;
		align-content: center;
		width: 100%;
		height: .5rem;
		background-color: rgba($color-grey-light, .5);
		border: 1px solid rgba($color-grey-light, 1);
		border-radius: $border-radius-big;
	}

	&__filler {
		align-self: stretch;
		width: 0;
		height: inherit;
		background-color: $color-primary;
		border-radius: $border-radius-big;
		letter-spacing: .05rem;
		font-size: 0;
		opacity: .8;
		text-align: right;
		padding-right: 1rem;
	}
}