.project-card {
	display: grid;
	grid-template-columns: 1fr max-content;
	grid-gap: 1rem;
	overflow-wrap: break-word;
	align-items: start;

	&__info {

	}

	&__name {
		display: inline-block;
		transition: color ease-in-out .3s;
		transition-delay: 100ms;
		overflow-wrap: break-word;
	}

	&__text-divider {
		margin: 0 1rem;
		color: $color-primary;
	}

	&__description {
		display: inline-block;
		margin-right: 3rem;
		margin-bottom: 1rem;
		font-weight: 400;
		opacity: .65;
		transition: opacity ease-in-out .2s;
		transition-delay: 50ms;
		overflow-wrap: break-word;
	}

	&:hover {
		cursor: default;
	}

	&:hover &__description{
		opacity: 1;
		color: $color-primary;
	}

	@include respond('phone') {

		&__info{
			//opacity: 1;
			//color: $color-primary;
		}
	}
}