@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Ubuntu:wght@400;500&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: $color-text-default;
    font-size: 1.6rem;
    line-height: 1.7;
}


.heading-primary {

}

.heading-secondary {
    color: $color-primary;
    text-transform: uppercase;
    font-size: 5rem;
    //font-weight: 300;
    margin-bottom: 3rem;
    transition: all .2s;

    @include respond(tab-port) {
        font-size: 4rem;
    }

    @include respond(phone) {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
}

.heading-tertiary {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: .5rem;

    @include respond(phone) {
        font-size: 1.7rem;
    }
}

.text-bold {
    font-weight: 500;
}

.text-accent-bold {
    font-weight: 500;
    color: $color-primary;
}
