.info {
	grid-column: 2/3;

	@include respond('phone') {
		grid-column: auto;
	}
}

.certificates {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5rem 1rem;

	@include respond('phone') {
		grid-gap: .8rem;
	}

	@include respond('phone-sm') {
		grid-template-columns: none;
	}
}

.projects {
	display: grid;
	grid-gap: 2rem;
}